html{
    background-color: black;
    color: aqua;
}
#select{
    margin-right: auto;
    margin-left: auto;
    display: block;
    background-color: black;
    color: aqua;
    font-size: x-large;
    border: 2px solid aqua;
}
#info{
    border: none;
    height: 3000px;
    width: 100%;
    display: none;
}
#menu ul li a:hover{
    color: red;
}
#menu{
    background-color: rgb(24, 48, 48);
    border: 2px solid aqua;
    font-size: larger;
    white-space: nowrap;
    overflow-x: scroll;
}
#menu ul li a{
    color: white;
}
#menu ul li{
    border: 2px solid aqua;
    display: inline;
    padding: 5px;
}